.color-nav1{
    background-color:#183619;
}
.color-nav2{
    background-color:#728370;
}
.button{
    background-color: #1b4214!important;
    border-color: #183619!important;
}
/* cde7ca */
/* .color-nav1{
    background-color:#50223c;
}
.color-nav2{
    background-color:#f0dac5;
}
.button{
    background-color: #b99976!important;
    border-color: #b99976!important;
} */