.custom-modal-style {
    width: 1080px;
    align-content: center;
    align-items: center;
    align-self: center;
    position: relative;
    display: flex;
    /* height: 802px; */
    }
    